@import url('https://fonts.googleapis.com/css?family=Cinzel|Slabo+27px');

body {
  background-color: #D4E5EB;
  font-family: 'Slabo 27px', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

#deck_area {
  display:none;
}
.deck {
  margin-top:3em;
  height: 264px;
  width:150px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deck::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deck:hover {
  cursor:pointer;
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.deck:hover::after {
  opacity: 1;
}

#spread_choice {
  margin-top:3em;
}

.theme-color {
  background-color:#C38F7D !important;

}

.theme-color:focus {
  outline:0;
  box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

.theme-color:hover {
  filter: brightness(75%);
}

.spread_button {
  width:10em !important;
}

.spread_display {
  margin-top:2em;
}

#spread_name {
  margin:1em;
}

.drawn_card {
  height: 70%;
  width: 70%;
}

.drawn_card:hover {
  cursor:pointer;
}

.flipped {
  transform: rotate(180deg);
}

.small {
  font-size: .75em;
}

.modal_card {
  height:70%;
  width:70%;
}

.no_show {
  display:none;
}

.card_position {
  font-weight:bold;
  font-size:.75em;
  max-width:210px;
}
